<!DOCTYPE html>
<html lang="ru" id="top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <title>{{ page.title | default: site.title }}</title>
</head>
<body>
  <body>
    
    {% if page.url != "/" %}
      <a href="{{ '/' | relative_url }}" class="floating-home-btn" title="На главную">
        🧹 <span>tier</span>
      </a>
    {% endif %}

  <main class="main-content">
    {{ content }}
  </main> <a href="#top" class="scroll-to-top" title="Наверх">↑ Наверх</a>
</body>
</html>